/* Title */
span.css-10trblm.e16nr0p30{
   text-align: center; 
   box-sizing: content-box;
   padding: 10px 10px;
   background-color: rgb(202, 225, 245);
   margin: 150px 150px;
   width:fit-content;
   border-radius: 20px;

}  


/* Registration */
div.css-13izhro.e1tzin5v0{
    text-align: center;
    background-color:rgb(232, 236, 238);
    border: 1px solid #0A0E08;
    padding: 20px 20px 20px 70px;
    padding: 5% 5% 10%;
    border-radius: 10px;
}

